[v-cloak] {
    display: none
}

.note-editor.note-frame.panel.panel-default {
    border-radius: 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    margin: 3px 0px 3px 0px !important;
    padding: 0 20px !important;
}

.select2-container .select2-selection--multiple {
    min-height: 40px !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #fff !important;
    border: 1px solid gray !important;
    border-radius: 18px !important;
    padding: 0 12px !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 8px !important;
}